body{
  background-color: black
}
.boxes{
  background-color: white;
  height: 25vw;
  max-height: 350px;
  min-width: 100px;
  margin: 20px;
  border-radius: 2%;
  transition: linear 0.25s;
}
#correct_color{
  color:white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}
h1{
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}